.banner-section .block-editor-rich-text__editable.block-editor-block-list__block.wp-block.wp-block-heading, 
.banner-section .block-editor-rich-text__editable.block-editor-block-list__block.wp-block.wp-block-paragraph, 
.banner-section .block-editor-rich-text__editable.wp-block-button__link, 
.trainer-section .block-editor-rich-text__editable.block-editor-block-list__block.wp-block.wp-block-heading, 
.trainer-section .block-editor-rich-text__editable.block-editor-block-list__block.wp-block.wp-block-paragraph, 
.trainer-section .block-editor-rich-text__editable.wp-block-button__link{ 
  font-family: 'Poppins', sans-serif;
}
/*-------------Banner----------*/
.banner-section {
  width: auto;
  height: auto;
}
.banner-section .block-editor-rich-text__editable.block-editor-block-list__block.wp-block.wp-block-heading {
  font-weight: 800;
  text-transform: uppercase;
}
.banner-section .block-editor-rich-text__editable.block-editor-block-list__block.wp-block.wp-block-paragraph{
  letter-spacing: 1px;
  margin-top: 10px !important;
}
.banner-section .block-editor-rich-text__editable.wp-block-button__link, .trainer-section .block-editor-rich-text__editable.wp-block-button__link{
  color: #fff;
  letter-spacing: 0;
  background: #2acb35;
  padding: 12px 20px !important;
  border-radius: 30px;
  border:  0;
  text-decoration: none !important;
  text-transform: capitalize !important;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 15px;
}
.banner-section .block-editor-rich-text__editable.wp-block-button__link:hover, .trainer-section .block-editor-rich-text__editable.wp-block-button__link:hover{
  background: #fff !important;
  color: #313a43 !important;
  border:  0;
}
.banner-section .block-editor-rich-text__editable.wp-block-button__link:after, .trainer-section .block-editor-rich-text__editable.wp-block-button__link:after{
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  opacity: 0;
  color: #313a43;
  transition: 0.3s ease-in-out;
}
.banner-section .block-editor-rich-text__editable.wp-block-button__link:hover:after, .trainer-section .block-editor-rich-text__editable.wp-block-button__link:hover:after{
  opacity: 1;
  padding-left: 8px;
}